<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://twitter.com/DeriaRanit"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/RanitDERIA"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/ranit-deria-916864257/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>Restify Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
